.nombre {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: x-large;
    align-self: center;
}

.btn {
    border: 1px solid black;
    border-radius: 0.5rem;
    height: fit-content;
    align-self: center;
    background-color: rgb(146, 146, 146);
    font-family: 'Montserrat', sans-serif;


}

.logo {
    height: 100%;
}

.brand {
    height: 4rem;
    display: flex;
    
}

header {
    background-color: white;
}

body {
    background-color: rgb(146, 146, 146);
}

.contador {
    display: flex;
    justify-content: space-between;
    width: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}