.nombre {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: x-large;
    align-self: center;
}

.btn {
    border: 1px solid black;
    border-radius: 0.5rem;
    height: fit-content;
    align-self: center;
    background-color: rgb(146, 146, 146);
    font-family: 'Montserrat', sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;


}

.logo {
    height: 100%;
}

.brand {
    height: 4rem;
    display: flex;
    
}

.header {
    background-color: rgb(189, 189, 189);
}

body {
    background-color: rgb(146, 146, 146);
}

.contador {
    display: flex;
    justify-content: space-between;
    width: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 1rem;
}

.cardContent {
    align-items: center;
}

.cartWidget {
    align-self: center;
}

.contenedorDetalles {
    display: flex;
    justify-content: center;
}

.descripcion {
    text-align: center;
}

.contenedorDelContador {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}